

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





h1 {
	color:blue;
	text-align: center;
}

body {
	background-image: url("My Wallpaper.jpg");
	background-size: 1300px
}

h2 {
	text-align: center;
	color:blue;
	font-family: Noteworthy;
}

img{
	width:300px;
	height:300px;
}
.logo {
	height:40px;
	width: 40px;
}
.stars {

	height:auto;
}
.nav-bar li {
	list-style: none;
	display:inline-block;
	margin-right: 20px;
	color: white;
	font-size: 18px;
}

.nav-bar{
	border-bottom: 1px solid black;
	background-color: black;
	position: fixed;
	width:100%;
	z-index:1;
}

.content {

	padding-top: 50px;
}








